# --- Virtual Environments (Folders) ---
.venv/
venv/
ENV/

# --- Environment Variables (Secrets) ---
.env
.env*

# --- Python & Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*